<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_best@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{124,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,30}}</string>
                <key>sourceSize</key>
                <string>{124,30}</string>
            </dict>
            <key>game_daojishi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{114,136}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{114,136}}</string>
                <key>sourceSize</key>
                <string>{116,150}</string>
            </dict>
            <key>game_daojishi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,524},{98,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{98,148}}</string>
                <key>sourceSize</key>
                <string>{116,150}</string>
            </dict>
            <key>game_daojishi_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{520,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,212}}</string>
                <key>sourceSize</key>
                <string>{520,212}</string>
            </dict>
            <key>game_daojishi_rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,128}}</string>
                <key>sourceSize</key>
                <string>{244,128}</string>
            </dict>
            <key>game_zanting_bt@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,132},{80,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,214},{139,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,70}}</string>
                <key>sourceSize</key>
                <string>{139,70}</string>
            </dict>
            <key>pause_continue@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{144,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,149}}</string>
                <key>sourceSize</key>
                <string>{144,151}</string>
            </dict>
            <key>pause_replay@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{144,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,149}}</string>
                <key>sourceSize</key>
                <string>{144,151}</string>
            </dict>
            <key>zt_bt_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{144,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,149}}</string>
                <key>sourceSize</key>
                <string>{144,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RabbitUI0.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a3f3f31818d76736982e43f2755ca5e:1/1$</string>
            <key>textureFileName</key>
            <string>RabbitUI0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
