/proj.android-studio
/proj.ios_mac
/proj.linux
/proj.win8.1-universal
/proj.win10
/.cocos-project.json
/CMakeLists.txt
/config.json
/Movers_chs_ministation.ccs
/Movers_chs_ministation.cfg
/Movers_chs_ministation.udf
/cocos2d
/proj.android/obj
/proj.android/.settings
/proj.android/assets
/proj.android/bin
/proj.android/gen
/proj.win32/resource.h
/proj.win32/Debug.win32
/proj.win32/res
/proj.win32/build-cfg.json
/proj.win32/game.rc
/proj.win32/main.cpp
/proj.win32/main.h
/proj.win32/Movers_chs_ministation.sdf
/proj.win32/Movers_chs_ministation.sln
/proj.win32/Movers_chs_ministation.vcxproj.user
