<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>history_match_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{579,950}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,950}}</string>
                <key>sourceSize</key>
                <string>{579,950}</string>
            </dict>
            <key>history_multi_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,954},{577,950}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,950}}</string>
                <key>sourceSize</key>
                <string>{577,950}</string>
            </dict>
            <key>history_single_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{579,950}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,950}}</string>
                <key>sourceSize</key>
                <string>{579,950}</string>
            </dict>
            <key>home_aboutxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,954},{502,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,491}}</string>
                <key>sourceSize</key>
                <string>{502,491}</string>
            </dict>
            <key>home_bt_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1350},{202,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,239}}</string>
                <key>sourceSize</key>
                <string>{202,239}</string>
            </dict>
            <key>home_bt_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,827},{292,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,292}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>home_bt_four.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1741},{292,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,291}}</string>
                <key>sourceSize</key>
                <string>{292,291}</string>
            </dict>
            <key>home_bt_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1741},{292,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,292}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>home_bt_multi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1447},{292,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,292}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>home_bt_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1591},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>home_bt_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1794},{201,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,198}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>home_bt_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1447},{292,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,292}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>home_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{823,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{823,353}}</string>
                <key>sourceSize</key>
                <string>{823,353}</string>
            </dict>
            <key>ui_bt_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,686},{138,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
            <key>ui_bt_reconnect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,1121},{227,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,227}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>ui_bt_start_game_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1776},{227,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,227}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>ui_bt_start_game_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1776},{227,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,227}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>ui_connect_backcolor_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,515},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>ui_connect_backcolor_green_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,344},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>ui_connect_backcolor_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,173},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>ui_connect_backcolor_red_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>ui_connect_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{917,820}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{917,820}}</string>
                <key>sourceSize</key>
                <string>{917,820}</string>
            </dict>
            <key>ui_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1906},{110,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,68}}</string>
                <key>sourceSize</key>
                <string>{110,68}</string>
            </dict>
            <key>ui_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1906},{111,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,67}}</string>
                <key>sourceSize</key>
                <string>{111,67}</string>
            </dict>
            <key>ui_p2_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1906},{111,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,67}}</string>
                <key>sourceSize</key>
                <string>{111,67}</string>
            </dict>
            <key>ui_p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1918},{112,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,68}}</string>
                <key>sourceSize</key>
                <string>{112,68}</string>
            </dict>
            <key>ui_p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1906},{111,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,67}}</string>
                <key>sourceSize</key>
                <string>{111,67}</string>
            </dict>
            <key>ui_tap_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,824},{135,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,96}}</string>
                <key>sourceSize</key>
                <string>{135,96}</string>
            </dict>
            <key>ui_text_tips_connected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,1350},{81,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,28}}</string>
                <key>sourceSize</key>
                <string>{81,28}</string>
            </dict>
            <key>ui_text_tips_unconnected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2005},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>ui_wifi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1847},{112,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,69}}</string>
                <key>sourceSize</key>
                <string>{112,69}</string>
            </dict>
            <key>ui_wifi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,824},{112,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,69}}</string>
                <key>sourceSize</key>
                <string>{112,69}</string>
            </dict>
            <key>ui_wifi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,827},{112,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,69}}</string>
                <key>sourceSize</key>
                <string>{112,69}</string>
            </dict>
            <key>ui_wifi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1776},{112,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,69}}</string>
                <key>sourceSize</key>
                <string>{112,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>movers_ui_homepage.pvr.ccz</string>
            <key>size</key>
            <string>{2028,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90dfb99021852485e000d1020e426520$</string>
            <key>textureFileName</key>
            <string>movers_ui_homepage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
