<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_house1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2467,1574},{361,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,480}}</string>
                <key>sourceSize</key>
                <string>{361,480}</string>
            </dict>
            <key>back_house2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2730,546},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>back_shan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1028},{612,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,553}}</string>
                <key>sourceSize</key>
                <string>{612,553}</string>
            </dict>
            <key>back_shan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1018},{612,527}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,527}}</string>
                <key>sourceSize</key>
                <string>{612,527}</string>
            </dict>
            <key>back_tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,236}}</string>
                <key>offset</key>
                <string>{0,-357}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,779},{1920,236}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>back_tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{1672,246}}</string>
                <key>offset</key>
                <string>{38,-361}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,778},{1672,246}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>back_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{2410,688},{198,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,270}}</string>
                <key>sourceSize</key>
                <string>{198,270}</string>
            </dict>
            <key>building_first_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2060,978},{594,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,497}}</string>
                <key>sourceSize</key>
                <string>{594,497}</string>
            </dict>
            <key>building_langan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,941},{538,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,75}}</string>
                <key>sourceSize</key>
                <string>{538,75}</string>
            </dict>
            <key>building_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2180,1574},{285,456}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{285,456}}</string>
                <key>sourceSize</key>
                <string>{347,456}</string>
            </dict>
            <key>building_windows.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1905},{137,170}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,136},{137,170}}</string>
                <key>sourceSize</key>
                <string>{347,456}</string>
            </dict>
            <key>building_yangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1676},{241,74}}</string>
                <key>offset</key>
                <string>{-53,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,382},{241,74}}</string>
                <key>sourceSize</key>
                <string>{347,456}</string>
            </dict>
            <key>front_penjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,842},{190,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,145}}</string>
                <key>sourceSize</key>
                <string>{190,145}</string>
            </dict>
            <key>front_road.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1651},{50,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,93}}</string>
                <key>sourceSize</key>
                <string>{50,93}</string>
            </dict>
            <key>home_gonglu_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1676},{100,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,230}}</string>
                <key>sourceSize</key>
                <string>{100,230}</string>
            </dict>
            <key>home_gonglu_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1746},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>home_guanmu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2225,573},{503,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,113}}</string>
                <key>sourceSize</key>
                <string>{503,113}</string>
            </dict>
            <key>home_guanmu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1924},{503,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,113}}</string>
                <key>sourceSize</key>
                <string>{503,113}</string>
            </dict>
            <key>home_shan1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1028},{621,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,486}}</string>
                <key>sourceSize</key>
                <string>{621,486}</string>
            </dict>
            <key>home_shan1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,2},{838,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,465}}</string>
                <key>sourceSize</key>
                <string>{838,465}</string>
            </dict>
            <key>home_shan1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2225,2},{569,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,339}}</string>
                <key>sourceSize</key>
                <string>{569,339}</string>
            </dict>
            <key>home_shan2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{937,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{937,499}}</string>
                <key>sourceSize</key>
                <string>{937,499}</string>
            </dict>
            <key>home_shan2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2566,2},{542,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,509}}</string>
                <key>sourceSize</key>
                <string>{542,509}</string>
            </dict>
            <key>home_shu1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,1632},{272,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,376}}</string>
                <key>sourceSize</key>
                <string>{272,376}</string>
            </dict>
            <key>home_shu1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2559,960},{220,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,321}}</string>
                <key>sourceSize</key>
                <string>{220,321}</string>
            </dict>
            <key>home_shu2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1642},{272,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,376}}</string>
                <key>sourceSize</key>
                <string>{272,376}</string>
            </dict>
            <key>home_shu2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2087,743},{220,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,321}}</string>
                <key>sourceSize</key>
                <string>{220,321}</string>
            </dict>
            <key>home_sky_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1024,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,576}}</string>
                <key>sourceSize</key>
                <string>{1024,576}</string>
            </dict>
            <key>mover_home_car_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1651},{657,385}}</string>
                <key>offset</key>
                <string>{-6,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{657,385}}</string>
                <key>sourceSize</key>
                <string>{739,515}</string>
            </dict>
            <key>mover_home_car_roll.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,842},{134,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,133}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>mover_home_car_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,2},{739,189}}</string>
                <key>offset</key>
                <string>{0,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,326},{739,189}}</string>
                <key>sourceSize</key>
                <string>{739,515}</string>
            </dict>
            <key>mover_home_rabbit_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,842},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>movers_object_warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,1632},{408,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,145}}</string>
                <key>sourceSize</key>
                <string>{408,145}</string>
            </dict>
            <key>object_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1632},{408,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,145}}</string>
                <key>sourceSize</key>
                <string>{408,145}</string>
            </dict>
            <key>world_home_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1676},{227,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,171}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>movers_homeback.pvr.ccz</string>
            <key>size</key>
            <string>{3077,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f77a4f0654006bbf884921df37e9c6df$</string>
            <key>textureFileName</key>
            <string>movers_homeback.pvr.ccz</string>
        </dict>
    </dict>
</plist>
