<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>object_catch_miss_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2},{130,155}}</string>
                <key>offset</key>
                <string>{-33,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{130,155}}</string>
                <key>sourceSize</key>
                <string>{264,249}</string>
            </dict>
            <key>object_catch_miss_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1052},{152,177}}</string>
                <key>offset</key>
                <string>{-48,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{152,177}}</string>
                <key>sourceSize</key>
                <string>{264,249}</string>
            </dict>
            <key>object_catch_miss_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,940},{158,179}}</string>
                <key>offset</key>
                <string>{-53,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{158,179}}</string>
                <key>sourceSize</key>
                <string>{264,249}</string>
            </dict>
            <key>object_catch_miss_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1114},{156,183}}</string>
                <key>offset</key>
                <string>{-54,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,183}}</string>
                <key>sourceSize</key>
                <string>{264,249}</string>
            </dict>
            <key>particle_explotion_sky_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,940},{108,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,187},{108,108}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,159},{144,138}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,164},{144,138}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1114},{184,182}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,140},{184,182}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,374},{216,222}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,126},{216,222}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,674},{258,264}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,111},{258,264}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,382},{290,288}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,104},{290,288}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,420},{310,308}}</string>
                <key>offset</key>
                <string>{20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,103},{310,308}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,722},{328,324}}</string>
                <key>offset</key>
                <string>{27,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,103},{328,324}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,382},{338,348}}</string>
                <key>offset</key>
                <string>{31,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,96},{338,348}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,750},{342,358}}</string>
                <key>offset</key>
                <string>{33,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,89},{342,358}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,750},{348,362}}</string>
                <key>offset</key>
                <string>{35,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,86},{348,362}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,854},{350,366}}</string>
                <key>offset</key>
                <string>{35,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,84},{350,366}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,394},{354,368}}</string>
                <key>offset</key>
                <string>{34,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,83},{354,368}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{356,370}}</string>
                <key>offset</key>
                <string>{34,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,83},{356,370}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{360,378}}</string>
                <key>offset</key>
                <string>{35,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,79},{360,378}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{370,390}}</string>
                <key>offset</key>
                <string>{35,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,76},{370,390}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{380,410}}</string>
                <key>offset</key>
                <string>{35,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,70},{380,410}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{390,416}}</string>
                <key>offset</key>
                <string>{36,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,64},{390,416}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{396,420}}</string>
                <key>offset</key>
                <string>{37,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,60},{396,420}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>particle_explotion_sky_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,428}}</string>
                <key>offset</key>
                <string>{37,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,52},{406,428}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>score_award_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1110},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,53}}</string>
                <key>sourceSize</key>
                <string>{101,53}</string>
            </dict>
            <key>throw_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,1200},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>throw_object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,598},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>throw_object_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1211},{52,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,89}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
            <key>throw_object_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,1213},{73,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>throw_object_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,1200},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>throw_object_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,730},{117,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,85}}</string>
                <key>sourceSize</key>
                <string>{117,85}</string>
            </dict>
            <key>throw_object_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,1221},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>throw_object_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1114},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>throw_object_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1222},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>throw_object_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,598},{83,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>throw_object_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1221},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>throw_object_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1114},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,84}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>throw_object_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,420},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>throw_object_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1206},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>throw_object_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,305},{97,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,67}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>throw_object_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1222},{93,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>throw_object_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,730},{100,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>throw_object_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,1100},{82,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,97}}</string>
                <key>sourceSize</key>
                <string>{82,97}</string>
            </dict>
            <key>throw_object_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,640},{77,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,106}}</string>
                <key>sourceSize</key>
                <string>{77,106}</string>
            </dict>
            <key>throw_object_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1211},{91,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,89}}</string>
                <key>sourceSize</key>
                <string>{91,89}</string>
            </dict>
            <key>throw_object_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,1052},{117,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,99}}</string>
                <key>sourceSize</key>
                <string>{117,99}</string>
            </dict>
            <key>throw_object_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,506},{70,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,132}}</string>
                <key>sourceSize</key>
                <string>{70,132}</string>
            </dict>
            <key>throw_object_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,730},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>throw_object_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1110},{107,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,85}}</string>
                <key>sourceSize</key>
                <string>{107,85}</string>
            </dict>
            <key>throw_object_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,1050},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>throw_object_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1100},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>throw_object_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1222},{109,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,73}}</string>
                <key>sourceSize</key>
                <string>{109,73}</string>
            </dict>
            <key>throw_object_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,1153},{66,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,111}}</string>
                <key>sourceSize</key>
                <string>{66,111}</string>
            </dict>
            <key>throw_object_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1201},{88,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>throw_object_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1206},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>throw_object_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1110},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>throw_object_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,1201},{76,82}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ThrowableObjectsInc.pvr.ccz</string>
            <key>size</key>
            <string>{2047,1302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38cd6aec6c564a42501f6ff1931a28c3$</string>
            <key>textureFileName</key>
            <string>ThrowableObjectsInc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
