<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_rb01_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,902},{66,56}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,114},{66,56}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb01_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,278},{74,54}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,116},{74,54}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb01_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,354},{72,54}}</string>
                <key>offset</key>
                <string>{-11,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,116},{72,54}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb01_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,108},{104,162}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{104,162}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb01_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,786},{104,114}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{104,114}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb01_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{108,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{108,154}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb01_missB.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{104,162}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{104,162}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb01_talk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,680},{94,148}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{94,148}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb01_talk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,678},{94,148}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{94,148}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb01_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{104,162}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{104,162}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb02_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,834},{66,56}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,114},{66,56}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb02_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,902},{74,56}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,114},{74,56}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb02_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,428},{76,56}}</string>
                <key>offset</key>
                <string>{-9,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,114},{76,56}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb02_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{128,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{128,158}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb02_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,774},{128,110}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{128,110}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb02_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,214},{148,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{148,160}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb02_missB.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,456},{128,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{128,158}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb02_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,454},{128,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{128,158}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb03_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,834},{66,56}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,114},{66,56}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb03_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,776},{74,56}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,114},{74,56}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb03_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,776},{74,56}}</string>
                <key>offset</key>
                <string>{-11,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,114},{74,56}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb03_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,370},{82,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{82,160}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb03_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,902},{82,114}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{82,114}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb03_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,586},{92,158}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{92,158}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb03_missB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{84,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,10},{84,160}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb03_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,364},{90,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{90,160}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb04_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,728},{66,56}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,114},{66,56}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb04_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,842},{74,56}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,114},{74,56}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb04_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{74,56}}</string>
                <key>offset</key>
                <string>{-11,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,114},{74,56}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb04_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,194},{82,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,8},{82,162}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb04_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,902},{82,116}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{82,116}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb04_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,584},{92,158}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{92,158}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb04_missB.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,108},{84,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{84,162}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb04_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{90,162}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{90,162}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb05_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,660},{66,58}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,112},{66,58}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb05_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,584},{74,58}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,112},{74,58}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb05_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,506},{76,58}}</string>
                <key>offset</key>
                <string>{-9,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,112},{76,58}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb05_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,278},{90,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{90,160}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb05_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{90,136}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{90,136}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb05_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{144,162}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb05_missB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{90,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{90,160}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb05_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{90,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{90,160}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb_ko_head_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,902},{126,114}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{126,114}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anim_rb_ko_head_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{100,116}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{100,116}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ThrowerCharactersInc.pvr.ccz</string>
            <key>size</key>
            <string>{546,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe3b7c2887c42d343d6d64fa7b7029e7$</string>
            <key>textureFileName</key>
            <string>ThrowerCharactersInc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
